## Ignore for all projects ##
bin/
obj/
*.dll
*.exe
*.pdb
*.log
*.cache

## Ignore for ASP.NET Core ##
*.db
*.db-journal
*.sqlite
.env

## Ignore IDE-specific files ##
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
.idea/

## Ignore dependency directories ##
node_modules/
packages/

## Ignore publish outputs ##
dist/
out/
artifacts/

# MacOs
.DS_Store
